# Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv('heartDisease.csv')

# EDA

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# splitting data

In [10]:
x=df.drop(['target'],axis=1)
y=df['target']

In [11]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
df['target'].unique()

array([1, 0], dtype=int64)

In [13]:
len(x_train)

242

In [14]:
len(x_test)

61

In [15]:
len(y_test)

61

In [16]:
len(y_train)

242

# Normalizing data

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc = StandardScaler()

In [19]:
cols = x_train.columns
sc_x_train = sc.fit_transform(x_train)
sc_x_train = pd.DataFrame(sc_x_train , columns = cols)
sc_x_test = sc.fit_transform(x_test)
sc_x_test = pd.DataFrame(sc_x_test , columns = cols)

In [20]:
sc_x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-1.356798,0.722504,0.008099,-0.616856,0.914034,-0.383301,0.843133,0.532781,-0.676632,-0.920864,0.953905,-0.689701,-0.509048
1,0.385086,0.722504,-0.971891,1.169491,0.439527,-0.383301,-1.046109,-1.753582,1.477907,-0.193787,0.953905,-0.689701,1.178480
2,-0.921327,0.722504,0.988089,1.169491,-0.300704,-0.383301,0.843133,-0.139679,-0.676632,2.350982,-0.694988,-0.689701,-0.509048
3,0.058483,-1.384075,0.008099,0.276318,0.059921,-0.383301,-1.046109,0.487950,-0.676632,0.351521,-0.694988,-0.689701,-0.509048
4,0.602822,0.722504,-0.971891,-0.795490,-0.319684,2.608918,0.843133,0.443119,1.477907,0.351521,0.953905,1.333421,1.178480

In [21]:
sc_x_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.351938,0.520416,-0.817224,0.692351,0.670699,-0.545777,-0.861892,-1.438221,1.285369,-0.399336,-0.485744,0.073151,-2.005978
1,0.585288,0.520416,2.004512,1.728753,0.921953,-0.545777,-0.861892,0.450638,-0.777987,-0.692823,-0.485744,-0.819288,0.942568
2,0.351938,0.520416,1.063933,0.692351,-2.469984,1.832251,1.160239,1.013277,-0.777987,-0.692823,1.073751,0.073151,0.942568
3,0.235263,-1.921538,-0.817224,-0.136771,3.455437,-0.545777,-0.861892,0.088942,1.285369,0.554499,-0.485744,0.965589,0.942568
4,1.985390,-1.921538,1.063933,-1.380454,0.440382,1.832251,-0.861892,-0.714828,-0.777987,-0.839567,1.073751,0.073151,-0.531705

# Applying model

In [59]:
accuracy = []

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(sc_x_train , y_train)
pred = rf.predict(sc_x_test)
accuracy.append(accuracy_score(pred , y_test))
print(accuracy_score(pred , y_test))

0.8360655737704918

In [62]:
from sklearn.ensemble import GradientBoostingClassifier

gboosting = GradientBoostingClassifier()
gboosting.fit(sc_x_train , y_train)
pred = gboosting.predict(sc_x_test)
accuracy.append(accuracy_score(pred , y_test))
print(accuracy_score(pred , y_test))

0.8032786885245902

In [63]:
from xgboost import XGBClassifier

model7 = XGBClassifier()
model7.fit(x_train, y_train)
pred = model7.predict(x_test)
accuracy.append(accuracy_score(pred , y_test))
print(accuracy_score(pred , y_test))

0.819672131147541

In [64]:
from sklearn.ensemble import AdaBoostClassifier

ab = AdaBoostClassifier()
ab.fit(sc_x_train , y_train)
pred=ab.predict(sc_x_test)
accuracy.append(accuracy_score(pred , y_test))
print(accuracy_score(pred , y_test))

0.819672131147541

In [66]:
models_name =['Random Forest Classifier','Gradient Boost Classifer','Xg Boost Classifier','Ada Boost Classifier']

In [73]:
comparison = pd.DataFrame()
comparison['Models Names']=models_name
comparison['Accuracy Scores']=accuracy
comparison

               Models Names  Accuracy Scores
0  Random Forest Classifier         0.836066
1  Gradient Boost Classifer         0.803279
2       Xg Boost Classifier         0.819672
3      Ada Boost Classifier         0.819672